/*
* Thomas Zeng, Cole Weinstein
* CS257 11/4/21
*/

html { 
  background-color: #d1e9ff;
}

body{
  font-family: Helvetica;
  font-size: 14px;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  margin-bottom: 15px;
  padding: 0px;
  overflow: hidden;
  background-color: #48ce75;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #555;
    color: white;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.search{
  height: 18px;
  width: 600px;
}

.flex-container-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.grid-container-data {
  width: 100vw;
  column-gap: 10px;
  grid-template-columns: (100vw-20px)/3;
}

.language {
  grid-area: header;
}

.names {
  grid-area: info1;
}

.endangerment {
  grid-area: info2;
}

.location {
  grid-area: info3;
}


.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header"
    "info1 info2"
    "info3 .";
}