<!DOCTYPE html>
<html>
  <head>
    <meta char="utf-8" name="viewport" content="width=device-width">
    <title id="title">Language Template</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='language-template.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='navbar.js') }}"></script>
  </head>
  <body>
    <ul class="navbar"></ul>
    <input type="text" placeholder="Enter a country or vulnerable language..." class="search flex_containter_search" id="search_box">
  <button type="button" id="search_button">Search</button>
    <h1 id="language_header"></h1>
    <div>
      <ul id="language_names"></ul>
    </div>
    <div>
      <ul id="endangerment"></ul>
    </div>
    <div>
      <ul id="location"></ul>
    </div>
  </body>
</html>