/*
* Thomas Zeng, Cole Weinstein
* CS257 11/4/21
*/

.map {
  height: 95vh;
}

.search{
  height: 20px;
  width: 400px;
  margin-bottom: 2px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.flex-container-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}