<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='navbar.js') }}" ></script>
  </head>
  
  <body>

    <ul class="navbar"></ul>
    
    <h1>About</h1>
    <p>This website was created by Thomas Zeng and Cole Weinstein for Carleton's CS257 final project. It was built using references from w3schools, Mozilla Developer Network Web Docs, and Jeff Ondich's sample html pages.</p>

    <p>The original data was from UNESCO. However, we got the data from Kaggle which scraped from The Guardian which scraped from UNESCO.</p>

    <p>All rights reserved to UNESCO. Permission to use the data granted on the basis that this is a personal, non-commercial project. See UNESCO's <a href="http://www.unesco.org/new/en/terms-of-use/terms-of-use/copyright/">Terms of Use</a> page for more details. The dataset itself can be found <a href="https://www.kaggle.com/the-guardian/extinct-languages">here</a> on Kaggle , although its original source is on UNESCO's site, found <a href="http://www.unesco.org/languages-atlas/index.php?hl=en&page=atlasmap">here</a> (there is a button on the left navigation bar to access the dataset).</p>
   
      
  
  </body>

</html>